nav{
    /* background-color: #2B353F; */
    color: white;
    /* text-decoration: none; */
    display: flex;
        justify-content: space-around;
    
}
a {
    color:white;
}

body{   
    background-image: url(./jim-kay-hogwarts-exp.jpeg);
    /* background-repeat: no-repeat; */
    text-align: center; 
    color: white;
    position: relative;

}
.grid-container {
    display: flex;
        justify-content: center;
    align-items: center;
    place-self: center; 
    
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    display: flex;
        justify-content: right;

}
.grid2 {
    align-items: flex-end;
    background-color: green;
}

#button1 {
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    padding: 5px 26px;
    background-color: #6b63b5;
    /* display: flex;
        justify-content: flex-end; */
} 

#button2 {
    color: white;
    width: 350px;
    height: 58px;
    border-radius: 100px;
    padding: 15px 15px;
    background-color: #6b63b5;
    font-family: Sofia Pro,serif;
}

.grid-container2 {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    padding-top: 10%;
    
    /* display: flex;
        justify-content: flex-start; */
    /* position: absolute;
        top: 40px; left: 40px; */
}
.grid-item1 {
    text-align: left;
    position: relative;
    /* display: flex;
        justify-content: flex-start; */
}



.grid-item2 {
    text-align: left;
    position: relative;
    
}

.grid-item3 {
    text-align: left;
}
.grid-container3 {
    display: flex;
        justify-content: left;

}

